{% if pc == "False" -%}
 interface {{ interface_name }}
 {% if desc is defined and desc == "nan"  -%}
 description un_desc_default
 {% elif desc is not none -%}
 description {{ desc }}
 {% endif -%}
{% if link_type == "access" -%}
 port link-type access
 port default vlan {{ vlan }}
 exit
{% elif link_type == "trunk" -%}
 port link-type trunk
 port trunk allow-pass vlan {{ vlan }}
{% elif link_type == "layer3" -%}
 undo switchport
 ip address {{ ip }}
{% endif -%}
{% elif pc == "True" -%}
interface portchannel {{ pcid }}
 port link-type trunk
 port trunk allow-pass vlan {{ vlan }}
interface {{ interface_name }}
 eth-trunk {{ pcid }}
{% endif -%}